<div class="container">
  <h1><img src="assets/img/askGramperly-medium.jpg" height="150">Ask Gramperly</h1>

  <div class="row">
    <div class="col-12">
      <div class="input-group w-75">
        <span class="input-group-text" id="basic-addon1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
          </svg>
        </span>
        <input (keyup.enter)="onSubmit()" type="text" class="form-control" (input)="onUpdateQuestion($event)" placeholder="Enter your question, sonny." >
        <button (click)="onSubmit()" type="submit" class="btn btn-primary">Ask away</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <br/><br/>
    </div>
  </div>
  <div *ngIf=showResults class="row">
    <div class="col-12">
      <p style="color: gray">About no results (17 seconds - what's your hurry?)</p>
      <br/>
      <h3>People also ask:</h3>
      <p>Is this our table?</p>
      <p>What?</p>
      <p>Where did I put my shoes?</p>
      <p>Where to buy Ensure?</p>
    </div>
  </div>
</div>


